@model IEnumerable<WebApplication2.Context.catalog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/qqq_.cshtml";
}

<h2>Phân Loại Sản Phẩm</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.parent_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.sort_order)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.parent_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.sort_order)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
