@model WebApplication2.Context.product

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/qqq_.cshtml";
}

<h2>Details</h2>

<div>
    <h4>product</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content)
        </dd>




        <dt>
            @Html.DisplayNameFor(model => model.created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.created)
        </dd>

  



        <dt>
            @Html.DisplayNameFor(model => model.image_link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image_link)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.catalog.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.catalog.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
